@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-regular);
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-italic);
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-light);
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-light-italic);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-semibold);
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-semibold-italic);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-bold);
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-bold-italic);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-black);
  font-weight: 900;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($ssp-black-italic);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url($scp-regular);
}

